/* Dell Label Styling */

div.dell {
  display: inline-block;
}

div.dell.SFF {
  width: 1.4cm;
  height: 0.8cm;
  background: linear-gradient(to bottom, #E0E0E0 50%, #000000 50%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 80%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 80%);
}

div.dell.LFF {
  width: 1.2cm;
  height: 1.2cm;
  background: linear-gradient(to bottom, #E0E0E0 33%, #000000 33%);
  -webkit-clip-path: polygon(0% 20%, 20% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 20%, 20% 0%, 100% 0%, 100% 100%, 0% 100%);
}

div.dell div.interface {
  vertical-align: top;  
  text-align: center;
  padding-left: 0.1cm;
  color: black;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 13px;
}

div.dell .capacity {
  vertical-align: bottom;
  line-height: 0.4cm;
  text-align: center;  
  color: white;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

div.dell .speed {
  vertical-align: bottom;
  line-height: 0.4cm;
  text-align: center;  
  color: white;
  font-family: Arial, ' Helvetica Neue', Helvetica, sans-serif;
}

div.dell.LFF div.capacity,
div.dell.LFF div.speed {
  font-size: 10px;
}

div.dell.SFF span.capacity,
div.dell.SFF span.speed {
  vertical-align: super;
  font-size: 7.5px;
}
