/* HP Color Codes */
.hpPurple {
  background-color: #8B008B !important; /* SAS */
}

.hpCyan {
  background-color: #69c7fb !important; /* SATA / SAS MDL */
}

.hpOrange {
  background-color: #febe38 !important; /* Fibre Channel */
}

.hpWhite {
  background-color: #ffffff !important; /* SSD */
}

.hp .nonDP {
  background-color: #131313 !important;
  color: #ffffff !important;
}

.hpSSNW {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9eb03+1,2989d8+100 */
  background: #f9eb03; /* Old browsers */
  background: -moz-linear-gradient(left,  #f9eb03 1%, #2989d8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #f9eb03 1%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #f9eb03 1%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9eb03', endColorstr='#2989d8',GradientType=1 ); /* IE6-9 */
}

/* HP Gen 5/6/7 general settings */

.hp {
    display: inline-block;
    margin: 0.1cm 0.1cm;
}

.hp div.speed{
  text-align: center;
  background-color: #ffffff;
  color: black;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.hp div.interface{
  text-align: center;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.hp div.capacity {
  background-color: #181818;
  color: white;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

.hp div.serial{
  text-align: center;
  background-color: #181818;
  color: white;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

/* HP Small Form Factor label styling ( SFF 12.5mm x 9mm ) */
.hp.SFF {
  width: 1.25cm;
  height: 0.9cm;
}

.hp.SFF div.speed {
  border-top: thin solid #000000;
  line-height: 0.2cm;
  font-size: 5px;
}

.hp.SFF div.interface {
  line-height: 0.2cm;
  text-align: center;
  background-color: #8B008B;
  color: white;
  font-size: 5px;
}

.hp.SFF div.capacity{
  line-height: 0.3cm;
  font-size: 8px;
}

.hp.SFF div.serial {
  line-height: 0.2cm;
  font-size: 4px;
}

/* HP Large Form Factor label styling ( LFF 21mm x 16mm ) */
.hp.LFF {
  width: 2.1cm;
  height: 1.6cm;
} 

.hp.LFF div.speed {
  border: thin solid #000000;
  line-height: 0.3cm;
  font-size: 6px;
  margin: 0px 15px 0px 15px;
}

.hp.LFF div.interface {
  line-height: 0.46cm;
  background-color: #FFFFFF;
  color: black;
  font-size: 10px;
}

.hp.LFF div.capacity {
  line-height: 0.46cm;
  font-size: 11px;
}

.hp.LFF div.serial {
  line-height: 0.3cm;
  font-size: 6px;
}

.hp.LFF hr.divider {
 height: 0.08cm;
 background-color: #8b008b;
 border: 0;
 margin: 0px;
 border-color: inherit;
}