label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }

body {
  font-family: Lato, arial, sans-serif;
  font-size: 10pt;
}

#top {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color:#30333A;
  top: 0;
  left: 0;
  color: white;
  font-family: Lato, arial, sans-serif;
  font-size: 42px;
}

input {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #333333;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

input.text {
  margin-bottom: 12px;
  width: 95%;
  padding: .4em;
}

/* Dell Label Styling */

div.dell {
  display: inline-block;
}

div.dell.wide {
  width: 1.4cm;
  height: 0.8cm;
  background: linear-gradient(to bottom, #E0E0E0 50%, #000000 50%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 80%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 80%);
}

div.dell.slim {
  width: 1.2cm;
  height: 1.2cm;
  background: linear-gradient(to bottom, #E0E0E0 33%, #000000 33%);
  -webkit-clip-path: polygon(0% 20%, 20% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 20%, 20% 0%, 100% 0%, 100% 100%, 0% 100%);
}

div.dell div.interface {
  vertical-align: top;  
  text-align: center;
  padding-left: 0.1cm;
  color: black;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 13px;
}


div.dell .capacity {
  vertical-align: bottom;
  line-height: 0.4cm;
  text-align: center;  
  color: white;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

div.dell .speed {
  vertical-align: bottom;
  line-height: 0.4cm;
  text-align: center;  
  color: white;
  font-family: Arial, ' Helvetica Neue', Helvetica, sans-serif;
}

div.dell.slim div.capacity,
div.dell.slim div.speed {
  font-size: 10px;
}

div.dell.wide span.capacity,
div.dell.wide span.speed {
  vertical-align: super;
  font-size: 7.5px;
}

/* HP Color Codes */
.hpPurple {
  background-color: #8B008B !important; /* SAS */
}

.hpCyan {
  background-color: #69c7fb !important; /* SATA / SAS MDL */
}

.hpOrange {
  background-color: #febe38 !important; /* Fibre Channel */
}

.hpWhite {
  background-color: #ffffff !important; /* SSD */
}

.hp .nonDP {
  background-color: #131313 !important;
  color: #ffffff !important;
}

.hpSSNW {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9eb03+1,2989d8+100 */
  background: #f9eb03; /* Old browsers */
  background: -moz-linear-gradient(left,  #f9eb03 1%, #2989d8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #f9eb03 1%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #f9eb03 1%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9eb03', endColorstr='#2989d8',GradientType=1 ); /* IE6-9 */
}

/* Vendor select screen */

table#vendors img {
  width: 100px;
}

table#vendors td {
  width: 50%;
  text-align: center;
}

table#vendors img {
  cursor: pointer;
}

/* Exmaple table */

table#exampleTable,
table#printOutTable {
  border: none;
  border-collapse: collapse; 
}

table#exampleTable tr:not(:last-child),
table#printOutTable tr:not(:last-child) {
  border-bottom: 1px solid #c5c5c5;
}

table#exampleTable td,
table#printOutTable td {
  width: 2.3cm;
  text-align: center;
  vertical-align: middle;
}

table#exampleTable .hp,
table#exampleTable .dell,
table#exampleTable .dell2 {
  padding: 0px;
  margin: 5px 0px;
}

/* HP Gen 5/6/7 general settings */

.hp {
    display: inline-block;
    margin: 0.1cm 0.1cm;
}

.hp div.speed{
  text-align: center;
  background-color: #ffffff;
  color: black;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.hp div.interface{
  text-align: center;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.hp div.capacity {
  background-color: #181818;
  color: white;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

.hp div.serial{
  text-align: center;
  background-color: #181818;
  color: white;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

/* HP Small Form Factor label styling ( SFF 12.5mm x 9mm ) */
.hp.SFF {
  width: 1.25cm;
  height: 0.9cm;
}

.hp.SFF div.speed {
  border-top: thin solid #000000;
  line-height: 0.2cm;
  font-size: 5px;
}

.hp.SFF div.interface {
  line-height: 0.2cm;
  text-align: center;
  background-color: #8B008B;
  color: white;
  font-size: 5px;
}

.hp.SFF div.capacity{
  line-height: 0.3cm;
  font-size: 8px;
}

.hp.SFF div.serial {
  line-height: 0.2cm;
  font-size: 4px;
}

/* HP Large Form Factor label styling ( LFF 21mm x 16mm ) */
.hp.LFF {
  width: 2.1cm;
  height: 1.6cm;
} 

.hp.LFF div.speed {
  border: thin solid #000000;
  line-height: 0.3cm;
  font-size: 6px;
  margin: 0px 15px 0px 15px;
}

.hp.LFF div.interface {
  line-height: 0.46cm;
  background-color: #FFFFFF;
  color: black;
  font-size: 10px;
}

.hp.LFF div.capacity {
  line-height: 0.46cm;
  font-size: 11px;
}

.hp.LFF div.serial {
  line-height: 0.3cm;
  font-size: 6px;
}

.hp.LFF hr.divider {
 height: 0.08cm;
 background-color: #8b008b;
 border: 0;
 margin: 0px;
 border-color: inherit;
}